
body {
    background-color: #D1eaf0;
  }

  h5 {
    font-family: "asap condensed";
  }

 h1 {
    font-family: "Chalkduster", Papyrus, Fantasy;

 }

 h4 {
  font-family:"Chalkduster", Papyrus, Fantasty;
 }

 #HM  {
  float: right;
   margin: 0 0 0 20px;
  }

  #HS  {
    float: left;
     margin: 0 0 0 20px;
    }

    #HR  {
      float: right;
       margin: 0 0 0 20px;
      }